.about-active-page-link {
    font-weight: 600 !important;
    color: #301A6F !important;
    opacity: 100%;
}

.about-page-links:hover {
    font-weight: 600 !important;
    color: #301A6F !important;
    opacity: 100%;
}

.aboutUsContentActive {
    display: block !important;
}

.admissionContentActive {
    display: block !important;
}

.admission-banner {
    background-image: url('/images/admision-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 75vh;
    text-align: center;
}

.admission-banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-top: 8%;
    margin-top: 12%;
    padding-bottom: 25%; */
}

.admission-banner-container h3 {
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
}

.admission-banner-container p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.courseSearchWrapper .btn, .courseSearchBtn, .courseSearchBtn:hover {
    background-color: #301A6F;
    color: #FFFFFF;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.filterHeader {
    font-weight: 500;
    font-size: 24px;
    color: #301A6F;
}

.filterText {
    font-weight: 400;
    font-size: 16px;
    color: #202020;
    cursor: pointer;
}

.filter input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, 0.6); */
    border: 1px solid #301A6F;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
    cursor: pointer;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, 0.6); */
    border: 1px solid #301A6F;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    cursor: pointer;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    display: none;
}

input[type="checkbox"]:checked {
    font-size: 18px;
    color: #FFFFFF;
    /* background-color: rgba(48, 26, 111, 0.9); */
    background-color: #301A6F;
    text-align: center;
    padding: auto;
    box-sizing: border-box;
}

input[type="checkbox"]:checked::after {
    display: block;
    border: none;
    height: auto;
    width: auto;
}
  
.clearFilter a {
    font-weight: 500;
    font-size: 16px;
    color: #301A6F;
    line-height: 19.36px;
}

.resultNo {
    font-weight: 500;
    font-size: 24px;
    color: #301A6F;
}

.resultPages {
    font-weight: 400;
    font-size: 16px;
    color: #202020;
}

.resultDetailsWrapper {
    background-color: rgba(48, 26, 111, 0.05);
}

.resultDetails h4 {
    font-weight: 600;
    font-size: 24px;
    color: #301A6F;
}

.resultDetails p {
    font-weight: 400;
    font-size: 20px;
    color: #202020;
    line-height: 28px;
}

.resultFooterText1 {
    font-weight: 500;
    font-size: 18px;
    color: rgba(32, 32, 32, 0.8);
}

.resultFooterText2 {
    font-weight: 300;
    font-size: 18px;
    color: rgba(32, 32, 32, 0.8);
}

.resultBtn a, .resultBtn a:hover {
    background-color: #301A6F;
    color: #FFFFFF;
}

/* .admission-banner-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.admission-img-wrapper {
    background-image: url('/images/ad-App-Cont-img.png');
}

.admission-side-links {
    /* top: 5rem !important; */
    bottom: 0rem !important;
    height: 90vh !important;
    /* height: 100% !important; */
    /* height: 67vh !important; */
    z-index: 3;
    width: 24% !important;
    padding-top: 12% !important;
    border-right: 1px rgba(32, 32, 32, 0.15) solid;
}

.admission-link-pages-wrapper {
    border-color: rgba(32, 32, 32, 0.15);
}

.admission-page-links {
    text-decoration: none;
    font-size: clamp(19px, 5vw, 22px);
    font-weight: 400;
    color: rgba(32, 32, 32, 0.75);
}

.admission-page-links:hover {
    font-weight: 600 !important;
    color: rgb(48, 26, 111, 1) !important;
}

.admission-active-page-link {
    font-weight: 600 !important;
    color: rgba(48, 26, 111, 1) !important;
}

.admissionUsContentActive {
    display: block !important;
}

.requirementsItems {
    font-weight: 300;
    font-size: 20px;
    color: #202020;
    line-height: 36px;
}

.accordionContainer .accordion-button1 {
    color: #202020;
    font-weight: 500;
    font-size: 14px;
}

.accordionContainer .accordion {
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23301A6F'/%3E%3Cpath d='M16 14L12 10L8 14' stroke='white' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.accordionContainer .accordion-body {
    padding: 0% !important;
}

.accordionContainer .accordion-button {
    width: fit-content !important;
}

.accordionContainer .accordion-button::after {
    margin-right: auto !important;
    margin-left: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23301A6F'/%3E%3Cpath d='M8 10L12 14L16 10' stroke='white' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
}

.accordionContainer .accordion-button:focus {
    box-shadow: none !important;
}

.accordionContainer .accordion-button:not(.collapsed) {
   /* background-color: transparent !important; */
    background-color: rgba(48, 26, 111, 0.01) !important;
    box-shadow: none;
}

.accordionContainer .accordion-button {
    background-color: rgba(48, 26, 111, 0.01) !important;
}

.accordionContainer #accordionWrapper {
    background-color: rgba(48, 26, 111, 0.1) !important;
}

.admission-heading {
    font-weight: 700;
    font-size: 24px;
    color: #301A6F;
}

.appContent {
    background-image: url('/images/ad-App-Cont-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* height: 70%; */
    padding-top: 40%;
    padding-bottom: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.adAppHiddenBg {
    /* height: 70%; */
    padding-top: 17%;
    flex: -199;
    padding-bottom: 7%;
}