.popup-close-Btn {
    font-size: 16px;
    font-weight: 500;
    color: #301A6F;
    background-color: rgba(48, 26, 111, 0.1);
}

.popup-close-Btn:hover {
    color: rgba(48, 26, 111, 0.89);
    background-color: rgba(49, 26, 112, 0.15);
}

.modal-header {
    color: #301A6F;
    font-size: 20px;
    font-weight: 400;
    span{
        font-weight: 700;
    }
}

.activeFooter {
    border: 2px solid #301A6F;
    border-radius: 4px;
}

.modal-footer .pop-up-footer-images img:hover {
    border: 2px solid #301A6F;
    border-radius: 4px;
}

.imageActive {
    /* opacity: 0.4; */
    display: block !important;
    animation: fadeIn 2s !important;
    /* opacity: 1 !important; */
}

@keyframes fadeIn {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
} 